nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  //backdrop-filter: blur(10px);
  //background-color: rgba(137, 138, 145, 0.09);

  li {
    padding: 1rem;
    margin: 0 1rem;
    a {
      text-decoration: none;
    }

  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
    font-size: 1.2rem;
    backdrop-filter: blur(10px);
    background-color: rgba(137, 138, 145, 0.09);
    span {
      font-weight: 700

    }
  }
}

.line{
  //border: 2px solid red;
  z-index: 1765;
  width: 500px;
}
