.wrapper{
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  margin:0;
}
